:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* End reset */

body {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    min-width: 320px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

/* App */
.flights_list {
    margin-top: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
    max-height: 25rem;
    overflow: auto;
}

.flights_list li {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 8px 10px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}
/* End App */

/* Filters */
.filters_wrapper {
    max-width: 29rem;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.filters_wrapper div {
    display: flex;
    gap: 8px;
}

.filters_wrapper label {
    white-space: nowrap;
}
/* End Filters */
